<h1>New List</h1>
<div class="container">
  <%= simple_form_for @list do |f| %>
    <%= f.input :name %>
    <%= f.button :submit %>
    <%= f.input :photo, as: :file %>
  <% end %>

  <%= link_to root_path, class:"btn btn-warning mt-3" do  %>
    <i class="fa-solid fa-house"></i>
  <% end %>
</div>
